/*
    Dark:  #203864
    Blue:  #2f5597
    Light: #b4c7e7
*/

body, html {
    font-family: Calibri,sans-serif;
    font-size: 20px;
    background-color: #203864;
    color: white;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
}

a,h1, h2, h4, h5, h6 {
    color: #b4c7e7;
}

header {
    background-color: #2f5597;
    border-radius: 10vw;
    color: white !important;
    border-left: .5vw solid #b4c7e7;
    border-right: .5vw solid #b4c7e7;
}

header td {
    width: 30vw;
    text-align: center;
    font-size: 5vw;
    vertical-align: middle;
}

#profile {
    border-left: .5vw solid #b4c7e7;
    border-right: .5vw solid #b4c7e7;
    border-radius: 7.5vw;
    vertical-align :middle;
    width :10vw;
}

#ar_name{
    font-family: Arabic Typesetting, Calibri, sans-serif;
    font-size: 6vw;
}

nav {
    text-align: center;
    background-color: #b4c7e7;
    color: #203864;
    padding: 0vw;
    border-radius: 5vw;
}

nav table {
    border: 0px;
    padding: .2%;
    overflow:auto;
}

nav table th {
    border-top: .1vw solid #203864;
    border-bottom: .1vw solid #203864;
    border-left: .1vw solid #203864;
    border-right: .1vw solid #203864;
    width: 20vw;
    padding: .5%;
    border-radius: 5vw;
}

nav table th:hover {
    border-left: .5vw solid #203864;
    border-right: .5vw solid #203864;
}

#current_page {
    border-left: .5vw solid #203864;
    border-right: .5vw solid #203864;
}

article {
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
}
