/*
    Dark:  #203864
    Blue:  #2f5597
    Light: #b4c7e7
*/

body, html {
    font-family: Calibri,sans-serif;
    font-size: 20px;
    background-color: #203864;
    color: white;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
}

a,h1, h2 {
    color: #b4c7e7;
}

header {
    background-color: #2f5597;
    border-radius: 10vw;
    padding: 1vw;
    color: white inherit !important;
    border-left: .5vw solid #b4c7e7;
    border-right: .5vw solid #b4c7e7;
    text-align:center;
}

#profile {
    border-left: .5vw solid #b4c7e7;
    border-right: .5vw solid #b4c7e7;
    border-radius: 7.5vw;
    vertical-align :middle;
    width :10vw;
}

.main_title {
    font-size: 5vw;
    vertical-align: middle;
}

nav {
    text-align: center;
    background-color: #b4c7e7;
    color: #203864;
    padding: 1vw;
    border-radius: 5vw;
}

article {
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
}
